@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
}
.header-top{
   @extend %faktum-wide-700;
   font-size: 12px;
   line-height: 16px;
   color: $default;
   background-color: $accented;
   max-width: 1470px;
   height: 44px;
   margin: 0 -15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;
}
.menu {
   padding: 16px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 80px;
   border-bottom: 1px solid #C6C6BD;
   &__left{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 60px;
   }
   &__left-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
	&__left-item + .menu__left-item{
      margin-left: 45px;
   }
	&__link {
      @extend %faktum-wide-700;
      font-size: 14px;
      line-height: 20px;
      color: $accented;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__right{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
	&__right-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__right-item + .menu__right-item{
      margin-left: 32px;
   }
   &__btn{
      margin-left: 40px;
      margin-right: 45px;
      background-color: $accented;
      color: $default;
      @extend %faktum-500;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 162px;
      height: 42px;
      padding: 12px 27px 12px 23px;
      @extend %btn;
      svg{
         width: 13px;
         height: 12px;
      }
   }
}
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   &__svg{
      width: 49px;
      height: 48px;
   }
   &__img{
      path{
         fill: $accented
      }
   }
}

//  =======   TOP   =======
.top {
   &__wrapper{
      margin-top: 132px;
      padding: 95px 60px 24px;
      background-color: $default;
   }
   &__logo {
      margin-bottom: 169px;
      animation-delay: .5s;
      animation-duration: 2s;
   }
   &__info {
      display: flex;
      justify-content: end;
      align-items: end;
      gap: 222px;
      @extend %faktum-wide-800;
      text-transform: uppercase;
   }
   &__title {
      font-size: 32px;
      line-height: 28px;
      width: 323px;
      height: 56px;
      margin-bottom: 5px;
      animation-delay: 1s;
      animation-duration: 2s;
   }
   &__subtitle {
      font-size: 16px;
      line-height: 20px;
      width: 300px;
      height: 40px;
      animation-delay: 1.5s;
      animation-duration: 2s;
   }
   &__img-box{
      padding-bottom: 175px;
      animation-delay: 2s;
      animation-duration: 2s;
   }
   &__img {
      margin: 0 auto;
      object-fit: contain;
      width: 1402px;
      height: 720px;
   }
   &__logo-big {
      width: 798px;
      height: 172px;
   }
}

//   =======   TOP-SLIDER   =======
.top-slider {
   &__item {
      position: relative;
      min-height: 818px;
   }
   &__content {
      padding-left: 170px;
   }
   &__title {
      @extend %faktum-wide-800;
      font-size: 120px;
      line-height: 100px;
      text-transform: uppercase;
      max-width: 753px;
      margin-bottom: 56px;
   }
   &__text {
      @extend %faktum-wide-400;
      font-size: 16px;
      line-height: 24px;
      max-width: 500px;
      margin-bottom: 59px;
   }
   &__info {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      align-items: center;
      max-width: 362px;
   }
   &__link {
      font-size: 14px;
      line-height: 18px;
      @extend %faktum-wide-400;
      color: $accented;
      border-bottom: 1px solid #999;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
   }
   &__btn {
      width: 176px;
      height: 56px;
      border: 1px solid #C6C6BD;
      @extend %btn;
      @extend %faktum-500;
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      position: relative;
   }
   &__btn-svg {
      width: 13px;
      height: 13px;
      position: absolute;
      top: 19px;
      right: 27px;

   }
   &__img {
      position: absolute;
      left: 581px;
      top: 142px;
      z-index: 5;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      gap: 20px;
      li{
         button{
            background-color: $accent-gray;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 0;
         }
         &.slick-active{
            button{
               background-color: #D8D7CA;
               border: 1px solid $accent-gray;
            }
         }
      }
   }
}

//   =======   TOP-INFO   =======
.top-info {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: start;
      padding: 160px 100px;
      flex-wrap: wrap;
      gap:377px 466px;
   }
   &__item {
      position: relative;
      max-width: 327px;
      text-align: right;
      font-size: 16px;
      line-height: 20px;
      animation-delay: 1s;
      animation-duration: 1s;
   }
   &__item-img{
      width: 327px;
      height: 138px;
      animation-delay: .5s;
      animation-duration: 1s;
   }
   &__title {
      @extend %faktum-wide-800;
      text-transform: uppercase;
      margin-bottom: 30px;
   }
   &__text {
      @extend %faktum-wide-400;
   }
   &__img {
      min-width: 924px;
      height: 689px;
      position: absolute;
      object-fit: contain;
      top: 0;
      right: -115px;

   }
}

//   =======   BENEFITS   =======

.benefits-top {
   background-color: #787C63;
   text-align: center;
   padding-top: 96px;
	&__title {
      @extend %faktum-wide-700;
      font-size: 48px;
      line-height: 40px;
      text-transform: uppercase;
      color: $default;
      margin-bottom: 24px;
      animation-delay: .5s;
      animation-duration: 1s;
	}
	&__text {
      @extend %faktum-wide-400;
      font-size: 16px;
      line-height: 24px;
      color: $default;
      max-width: 497px;
      margin: 0 auto;
      margin-bottom: 32px;
      animation-delay: 1s;
      animation-duration: 1s;
	}
	&__btn {
      width: 199px;
      height: 56px;
      border: 1px solid #C6C6BD;
      @extend %btn;
      @extend %faktum-500;
      color: $default;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      animation-delay: 1.5s;
      animation-duration: 1s;
	}
   &__svg{
      width: 13px;
      height: 12px;
   }
}
.benefits-bottom {
   background-color: #787C63;
   padding-bottom: 78px;
   padding-top: 84px;
   text-align: center;
   margin-bottom: 160px;
	&__inner {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      margin: 0 auto;
      animation-delay: 2s;
      animation-duration: 1s;
	}
	&__item {
      max-width: 132px;
	}
	&__svg {
      height: 70px;
      margin-bottom: 33px;
      &--1{
         width: 49px;
      }
      &--2{
         width: 59px;
      }
      &--3{
         width: 62px;
      }
	}
	&__subtitle {
      font-size: 18px;
      line-height: 22px;
      color: $default;
	}
}

//   ======= ONE-SCOOP   =======
.one-scoop {
   &__title-box {
      @extend %faktum-wide-800;
      text-transform: uppercase;
   }
   &__title-top {
      font-size: 140px;
      line-height: 125px;
      margin-left: 171px;
      margin-bottom: 18px;
      animation-duration: 1s;
   }
   &__title-bottom {
      font-size: 140px;
      line-height: 125px;
      text-align: right;
      color: $default;
      -webkit-text-stroke: 1px $accented;
      margin-bottom: 160px;
      animation-duration: 1s;
   }
   &__inner {
      display: flex;
      justify-content: start;
      align-items: center;
      column-gap: 127px;
      margin-bottom: 160px;
   }
   &__img {
      object-fit: cover;
      width: 652px;
      height: 540px;
      animation-delay: .5s;
      animation-duration: 1s;
   }
   &__info {
      max-width: 400px;
   }
   &__info-title {
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 24px;
      animation-delay: 1s;
      animation-duration: 1s;
   }
   &__text {
      @extend %faktum-wide-400;
      font-size: 16px;
      line-height: 24px;
      max-width: 387px;
      margin-bottom: 40px;
      animation-delay: 1.3s;
      animation-duration: 1s;
   }
   &__btn {
      @extend %btn;
      background-color: $accented;
      color: $default;
      width: 176px;
      height: 56px;
      // text-align: left;
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation-delay: 1.7s;
      animation-duration: 1s;
   }
   &__svg {
      width: 13px;
      height: 13px;
   }
}

//   =======   HAPPY-CUSTOMERS   =======

.happy-customers {
   &__title {
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 94px;
      animation-delay: .5s;
      animation-duration: 1s;
   }
   &__inner {
      margin-bottom: 160px;
      display: flex;
      justify-content: space-between;
      height: 100%;
      padding: 0 95px;
      animation-delay: 1s;
      animation-duration: 1.5s;
   }
   &__item {
      max-width: 333px;
      text-align: center;
      min-height: 100%;
      display: flex;
      flex-direction: column;
   }
   &__rating {
      margin-bottom: 24px;
   }
   &__rewiev {
      @extend %faktum-wide-400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
      flex-grow: 1;
   }
   &__person {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 24px;
   }
   &__img {
      width: 48px;
      height: 48px;
   }
   &__name {
      @extend %faktum-wide-500;
      font-size: 16px;
      line-height: 24px;
   }
}
.rateYo{
   margin: 0 auto;
}

//   =======   ONE-CHOICE   =======
.own-choice {
   &__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 169px;
      margin-bottom: 160px;
      padding-left: 171px;
   }
   &__title {
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      max-width: 388px;
      margin-bottom: 24px;
      animation-delay: 1s;
      animation-duration: 1.5s;
   }
   &__text {
      @extend %faktum-wide-400;
      max-width: 388px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 40px;
      animation-delay: 1.5s;
      animation-duration: 1.5s;
   }
   &__btn {
      @extend %faktum-wide-500;
      @extend %btn;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 199px;
      height: 56px;
      border: 1px solid #C6C6BD;
      animation-delay: 2s;
      animation-duration: 1.5s;
   }
   &__svg {
      width: 13px;
      height: 12px;
   }
   &__img {
      width: 712px;
      height: 540px;
      object-fit: cover;
   }
}



//     ==========     OTHER PAGES     ==========



//   =======   WHY MUJO   =======
.top-whymujo {
   &__title-top{
      margin-left: 90px;
      min-width: 1390px;
   }
   &__inner {
      padding-top: 196px;
   }
   &__inner-top {
      max-width: 1040px;
      display: flex;
      justify-content: space-between;
      margin-left: 60px;
      margin-bottom: 64px;
   }
   &__logo {
      width: 155px;
      height: 32px;
   }
   &__title {
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      max-width: 372px;
   }
   &__img-box {
      margin-bottom: 120px;
   }
   &__img {
      margin: 0 auto;
      object-fit: contain;
   }
	&__inner-bottom {
      display: flex;
      justify-content: center;
      column-gap: 128px;
      margin-bottom: 120px;
	}
	&__title-bottom {
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      max-width: 429px;
   }
	&__text-bottom {
      @extend %faktum-wide-400;
      font-size: 16px;
      line-height: 24px;
      max-width: 429px;
	}
}

//   =======   STRESS   =======
.stress {
   &__inner {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 120px;
      column-gap: 238px;
   }
   &__img-box {
      margin-left: 72px;
   }
   &__img {
      width: 541px;
      height: 540px;
   }
   &__title {
      text-align-last: left;
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 64px;
      max-width: 429px;
   }
   &__preferences {
      max-width: 429px;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: start;
      column-gap: 40px;
      row-gap: 32px;
   }
   &__preferences-item {
      width: 110px;
   }
   &__svg {
      width: 32px;
      height: 32px;
      margin: 0 auto;
      display: block;
      margin-bottom: 24px;
   }
   &__text {
      @extend %faktum-wide-400;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
   }
	&__info {
      display: flex;
      justify-content: center;
      column-gap: 130px;
      margin-bottom: 120px;
	}
	&__info-title {
      @extend %faktum-wide-800;
      max-width: 428px;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
	}
	&__info-text {
      @extend %faktum-wide-400;
      font-size: 16px;
      line-height: 24px;
      max-width: 428px;
	}
}

//   =======   ADAPTOGENS   =======
.adaptogens {
   &__wrapper {
      background-color: #787C63;
      color: $default;
      text-align: center;
      padding: 120px 236px;
      margin-bottom: 120px;
   }
   &__title {
      @extend %faktum-wide-800;
      font-size: 32px;
      line-height: 28px;
      text-transform: uppercase;
      margin-bottom: 80px;
      max-width: 850px;
   }
   &__inner {
      display: flex;
      justify-content: center;
      column-gap: 8px;
   }
   &__item {
      width: 317px;
   }
   &__svg {
      display: block;
      margin: 0 auto;
      width: 32px;
      height: 32px;
      margin-bottom: 24px;
   }
   &__subtitle {
      @extend %faktum-wide-700;
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
   }
   &__text {
      margin: 0 auto;
      @extend %faktum-wide-400;
      max-width: 260px;
      font-size: 15px;
      line-height: 20px;
   }
}






















































//   =======   FOOTER   =======
.footer{
   .container{
      background-color: #F9F8ED;
   }
}
.footer-top {
	&__inner {
      display: flex;
      justify-content: space-between;
      gap: 70px;
      padding: 80px 60px 64px;
	}
	&__item {
      min-width: 170px;
	}
	&__item-title {
      @extend %faktum-wide-800;
      font-size: 20px;
      line-height: 20px;
      text-transform: uppercase;
      color: $accented;
      margin-bottom: 30px;
	}
   &__link-wrapper{
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
   }
   &__instagram-svg{
      width: 24px;
      height: 24px;
   }
	&__link {
      @extend %faktum-wide-500;
      font-size: 14px;
      line-height: 18px;
      color: $accented;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
	}
	&__link-instagramm {
      @extend %faktum-500;
      font-size: 14px;
      line-height: 32px;
      color: $accented;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
	}
	&__nav-item {
      margin-bottom: 15px;
   }
	&__form-top {
      margin-bottom: 11px;
      position: relative;
	}
	&__input-mail {
      width: 317px;
      height: 46px;
      background-color: transparent;
      border: 1px solid #C6C6BD;
      outline: none;
      padding: 14px 20px;
	}
   &__input-mail[placeholder]{
      font-size: 14px;
      line-height: 18px;
      color: $accent-gray;
   }
	&__btn {
      width: 13px;
      height: 13px;
      @extend %btn;
      position: absolute;
      top: 14px;
      right: 20px;
      padding: 0;
	}
   &__btn-svg{
      width: 13px;
      height: 13px;
   }
   &__label{
      display: flex;
      justify-content: start;
      align-items: start;
      max-width: 317px;
   }
	&__input-checkbox {
      margin: 0;
	}
   &__input-text{
      padding-left: 12px;
      @extend %faktum-wide-700;
      color: #969690;
      font-size: 12px;
      line-height: 16px;
   }
}
.footer-logo {
   padding: 64px 60px 56px;
	&__svg {
      width: 1320px;
      height: 272px;
	}
}
.footer-bottom {
	&__inner-top {
      display: flex;
      justify-content: space-between;
      padding: 55px 60px 40px;
	}
	&__text-info {
      font-size: 16px;
      line-height: 20px;
	}
	&__title {
      font-size: 20px;
      line-height: 20px;
      @extend %faktum-wide-700;
      text-transform: uppercase;
	}
	&__link-block {
      display: flex;
      justify-content: space-between;
      gap: 38px;
	}
	&__link {
      font-size: 16px;
      line-height: 32px;
      color: $accented;
      transition: all .2s;
      &:hover{
         color: $hover;
      }
	}
	&__inner-bottom {
      text-align: center;
	}
	&__text-top {
      border: 1px solid $accent-gray;
      display: inline-block;
      margin-bottom: 17px;
      font-size: 12px;
      line-height: 16px;
      padding: 8px;
	}
	&__text-bottom {
      font-size: 12px;
      line-height: 16px;
      @extend %faktum-wide-700;
      padding: 0 60px 40px;
      color: $accent-gray;
	}
}
@import 'media';