<footer class="footer">
   <div class="container">  
      <div class="footer-top">
         <div class="footer-top__inner">
            <div class="footer-top__item">
               <h5 class="footer-top__item-title">Follow us</h5>
               <div class="footer-top__link-wrapper">
                  <a class="footer-top__link" href="#">
                     <svg class="footer-top__instagram-svg">
                        <use xlink:href="../images/sprite.svg#instagram" width="24" height="24"></use>
                     </svg>
                  </a>
                  <a class="footer-top__link footer-top__link-instagramm" href="#">@MUJO.LIFE</a>
               </div>
            </div>
            <div class="footer-top__item">
               <h5 class="footer-top__item-title footer-top__item-title--slider">products</h5>
               <ul class="footer-top__nav">
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">Vital Force</a>
                  </li>
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">Balance</a>
                  </li>
               </ul>
            </div>
            <div class="footer-top__item">
               <h5 class="footer-top__item-title footer-top__item-title--slider">Why mujo</h5>
               <ul class="footer-top__nav">
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">Ingredients</a>
                  </li>
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">Science</a>
                  </li>
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">Blog</a>
                  </li>
               </ul>
            </div>
            <div class="footer-top__item">
               <h5 class="footer-top__item-title footer-top__item-title--slider">Company</h5>
               <ul class="footer-top__nav">
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">About us</a>
                  </li>
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">Contact</a>
                  </li>
                  <li class="footer-top__nav-item">
                     <a class="footer-top__link" href="#">FAQ</a>
                  </li>
               </ul>
            </div>
            <div class="footer-top__item">
               <h5 class="footer-top__item-title">Stay in touch</h5>
               <form class="footer-top__form">
                  <div class="footer-top__form-top">
                     <input class="footer-top__input-mail" type="email" placeholder="Email adress">
                     <button class="footer-top__btn" type="submit">
                        <svg class="footer-top__btn-svg">
                           <use xlink:href="../images/sprite.svg#arrow-right-footer" width="13" height="13"></use>
                        </svg>
                     </button>
                  </div>
                  <div class="footer-top__form-bottom">
                     <label class="footer-top__label">
                        <input class="footer-top__input-checkbox" type="checkbox">
                        <p class="footer-top__input-text">
                           Subscribe to receive communications from Mujo about our products. By subscribing, you confirm you have read and accept our privacy policy
                        </p>
                     </label>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="footer-logo">
         <svg class="footer-logo__svg">
            <use xlink:href="../images/sprite.svg#logo-footer" width="1320px" height="272px"></use>
         </svg>
         <svg class="footer-logo__svg-small">
            <use xlink:href="../images/sprite.svg#logo-footer" width="244px" height="150px"></use>
         </svg>
      </div>
      <div class="footer-bottom">
         <div class="footer-bottom__inner-top">
            <p class="footer-bottom__text-info">© 2023 MUJO</p>
            <h5 class="footer-bottom__title">brew a change from within</h5>
            <div class="footer-bottom__link-block">
               <a class="footer-bottom__link" href="#">Terms of service</a>
               <a class="footer-bottom__link" href="#">Privacy policy</a>
            </div>
         </div>
         <div class="footer-bottom__inner-bottom">
            <p class="footer-bottom__text-top">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease</p>
            <p class="footer-bottom__text-bottom">Information on this site is provided for informational purposes only. It is not meant to substitute for medical advice from your physician or other medical professional. You should not use the information contained herein for diagnosing or treating a health problem or disease, or prescribing any medication. Carefully read all product documentation. If you have or suspect that you have a medical problem, promptly contact your regular health care provider.</p>
         </div>
      </div>
   </div>
</footer>
<script src="js/main.min.js"></script>
</body>
</html>