<!DOCTYPE html>
<html lang="ru">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
   <div class="wrapper">
      <header class="header">
         <div class="container">
            <div class="header-top">Free shipping on orders over 60 $</div>
            <nav class="menu">
               <div class="menu__left">
                  <ul class="menu__left-info">
                     <li class="menu__left-item">
                        <a class="menu__link" href="#">Why Mujo</a>
                     </li>
                     <li class="menu__left-item">
                        <a class="menu__link" href="#">About</a>
                     </li>
                     <li class="menu__left-item">
                        <a class="menu__link" href="#">Journal</a>
                     </li>
                  </ul>
               </div>
               <a class="logo" href="#">
                  <svg class="logo__svg">
                     <use xlink:href="../images/sprite.svg#logo-img" width="49" height="48"></use>
                  </svg>
               </a>
               <div class="menu__right">
                  <ul class="menu__right-nav">
                     <li class="menu__right-item">
                        <a class="menu__link" href="#">Log in</a>
                     </li>
                     <li class="menu__right-item">
                        <a class="menu__link" href="#">Cart</a>
                     </li>
                  </ul>
                  <button class="menu__btn" type="submit">Shop now
                     <svg>
                        <use xlink:href="../images/sprite.svg#arrow-right" width="13" height="12"></use>
                     </svg>
                  </button>
               </div>
            </nav>
         </div>
      </header>
   