<main>
   <!--
   <section class="top">
      <div class="container">
         <div class="top__wrapper">
            <div class="top__logo">
               <svg class="top__logo-big">
                  <use xlink:href="../images/sprite.svg#logo-big" width="798" height="172"></use>
               </svg>
            </div>
            <div class="top__info">
               <h3 class="top__title">Get more done and stress less</h3>
               <h5 class="top__subtitle">All-natural, functional coffee alternative</h5>
            </div>
         </div>
         <div class="top__img-box">
            <img class="top__img" src="../images/top-img.jpg" alt="top image">
         </div>
      </div>
   </section>
   -->
</main>