<main class="main">
   <section class="top">
      <div class="container">
         <div class="top__wrapper">
            <div class="top__logo">
               <svg class="top__logo-big">
                  <use xlink:href="../images/sprite.svg#logo-big" width="798" height="172"></use>
               </svg>
            </div>
            <div class="top__info">
               <h3 class="top__title">Get more done and stress less</h3>
               <h5 class="top__subtitle">All-natural, functional coffee alternative</h5>
            </div>
         </div>
         <div class="top__img-box">
            <img class="top__img" src="../images/top-img.jpg" alt="top image">
         </div>
      </div>
   </section>
   <section class="top-slider">
      <div class="container">
         <div class="top-slider__inner">
            <div class="top-slider__item">
               <div class="top-slider__content">
                  <h2 class="top-slider__title">Your new morning ritual</h2>
                  <p class="top-slider__text">Our coffee-like beverages are packed with the most effective bioavailable
                     forms of adaptogens and 1/20th of caffeine content of a cup of coffee.</p>
                  <div class="top-slider__info">
                     <a href="#" class="top-slider__link">About our Ingredients</a>
                     <button class="top-slider__btn" type="submit">Buy now
                        <svg class="top-slider__btn-svg">
                           <use xlink:href="../images/sprite.svg#arrow-right-footer" width="13" height="13"></use>
                        </svg>
                     </button>
                  </div>
               </div>
               <img class="top-slider__img" src="../images/slider-image.png" alt="slider image">
            </div>
            <div class="top-slider__item">
               <div class="top-slider__content">
                  <h2 class="top-slider__title">Enhance Your Mornings</h2>
                  <p class="top-slider__text">Our coffee-like beverages are packed with the most effective bioavailable
                     forms of adaptogens and 1/20th of caffeine content of a cup of coffee.</p>
                  <div class="top-slider__info">
                     <a href="#" class="top-slider__link">About our Ingredients</a>
                     <button class="top-slider__btn" type="submit">Buy now
                        <svg class="top-slider__btn-svg">
                           <use xlink:href="../images/sprite.svg#arrow-right-footer" width="13" height="13"></use>
                        </svg>
                     </button>
                  </div>
               </div>
               <img class="top-slider__img" src="../images/slider-image.png" alt="slider image">
            </div>
            <div class="top-slider__item">
               <div class="top-slider__content">
                  <h2 class="top-slider__title">Find Your Perfect Ritual</h2>
                  <p class="top-slider__text">Our coffee-like beverages are packed with the most effective bioavailable
                     forms of adaptogens and 1/20th of caffeine content of a cup of coffee.</p>
                  <div class="top-slider__info">
                     <a class="top-slider__link" href="#">About our Ingredients</a>
                     <button class="top-slider__btn" type="submit">Buy now
                        <svg class="top-slider__btn-svg">
                           <use xlink:href="../images/sprite.svg#arrow-right-footer" width="13" height="13"></use>
                        </svg>
                     </button>
                  </div>
               </div>
               <img class="top-slider__img" src="../images/slider-image.png" alt="slider image">
            </div>
         </div>
      </div>
   </section>
</main>